.juejinBox {
    font-size: 14px;
    color: #606266;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.labelBox {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.label {
    margin-right: 2px;
}

#plasmo-shadow-container {
    z-index: 1 !important;
}

.selectBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    z-index: 0;
}

.category {
    /* width: 10px; */
    margin-left: 10px;

    .cate {
        margin-right: 2px;
    }
}

.tagBox > .ant-select-arrow > .anticon-down {
    right: 40px !important;
}

.tagBox > .ant-select-arrow > .anticon-search {
    right: 40px !important;
}

#moreDiv .el_mcm-form-item {
    margin-bottom: 0px !important;
}
